<div class="detail">
  <div class="detail_main">
    <article>
      <h2 ng-bind="detail.blog.title">这是一篇用来测试的</h2>
      <div class="time">
        <h2 ng-bind="detail.blog.date"></h2>
        <span ng-bind="detail.blog.month"></span>
      </div>
      <div class="clear"></div>
      <div class="article_content">
        
      </div>
    </article>
    <div class="comment">
      <!-- 多说评论框 start -->
      <!-- <div class="ds-thread" data-thread-key="请将此处替换成文章在你的站点中的ID" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div> -->
      <!-- 多说评论框 end -->
      <!--   <script type="text/javascript">
    var duoshuoQuery = {
      short_name: "sjfblog"
    };
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';
      ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script> -->
    </div>
  </div>
  <div class="right">
    <div ng-include src="'../common/views/right.html'"></div>
  </div>
</div>
