<div class="detail">
  <div class="detail_main">
    <div class="main_top">
      <span ng-bind="'<<' + detail.blog.prevBlog.title"></span>
      <span ng-bind="detail.blog.nextBlog.title + '>>'"></span>
    </div>
    <article>
      <h2 ng-bind="detail.blog.currentBlog.title"></h2>
      <div class="time">
        <h2 ng-bind="detail.blog.currentBlog.create_date | date:'dd'"></h2>
        <span ng-bind="detail.blog.currentBlog.create_date | date:'yyyy-MM'"></span>
      </div>
      <div class="clear"></div>
      <div class="article_content">
      </div>
    </article>
    <div class="comment">
      <!-- 多说评论框 start -->
      <!-- <div class="ds-thread" data-thread-key="请将此处替换成文章在你的站点中的ID" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div> -->
      <!-- 多说评论框 end -->
      <!--   <script type="text/javascript">
    var duoshuoQuery = {
      short_name: "sjfblog"
    };
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';
      ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script> -->
    </div>
  </div>
  <div class="right">
    <div class="tag_class">
      <h3>文章标签</h3>
      <div class="tags">
        <span ng-repeat="tag in detail.tags" ng-bind="tag._id + '(' + tag.value + ')'">{{tag._id}}({{tag.value}})</span>
        <div class="clear"></div>
      </div>
    </div>
    <div class="time_class">
      <h3>文章归档</h3>
      <div class="times">
        <span ng-repeat="time in detail.times" ng-bind="(time._id | date:'yyyy-MM') + '(' + time.value + ')'"></span>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
