<div class="resume">
	<div class="resume_top">
		<div class="resume_contact">
			<div class="way">
				<img class="code" src="../common/image/wechat.png" width="130" height="130" alt="">
				<div>
					<img width="25" height="25" src="../common/image/mail.png" alt="">
					<span>sjf1982764150@gmail.com</span>
				</div>
				<div>
					<img width="25" height="25" src="../common/image/weixin.png" alt="">
					<span>sjffly</span>
				</div>
				<div>
					<img width="25" height="25" src="../common/image/phone.png" alt="">
					<span>18170415420</span>
				</div>
				<div>
					<img width="25" height="25" src="../common/image/Github.png" alt="">
					<span>https://github.com/junfeisu</span>
				</div>
				<div>
					<img width="25" height="25" src="../common/image/weibo.png" alt="">
					<span>http://115.159.224.128</span>
				</div>
			</div>
		</div>
		<div class="resume_user">
			<h1>苏俊飞</h1>
			<h3>应聘前端实习生</h3>
		</div>
		<div class="clear"></div>
	</div>
	<div class="resume_content">
		项目经历
	</div>
</div>