@charset 'UTF-8';
@import 'normalize.scss';
@import 'mixin.scss';
.top {
  width: 100%;
  height: 80px;
  line-height: 80px;
  min-width: 1080px;
  background: $strongColor;
  position: relative;
  top: 0px;
  .show_logo {
    position: absolute;
    left: 20px;
    top: 16px;
    .logo {
      float: left;
      background: #fff;
      width: 48px;
      height: 48px;
      background-image: url('../image/sixth.png');
      background-size: 48px 48px;
      border-radius: 24px;
      @include transition($time: 2s);
      &:hover {
        border-radius: 0px
      }
    }
    h3 {
      color: #fff;
      display: block;
      float: right;
      margin-left: 5px;
      height: 48px;
      line-height: 48px;
      font-weight: bloder;
      font-size: 22px
    }
  }
  .top_main {
    width: 60%;
    margin: 0 auto;
    color: #fff;
    font-size: $largeSize;
    #nav {
      width: 90%;
      margin: 0 auto;
      li {
        list-style: none;
        width: 16%;
        margin-left: 4%;
        height: 80px;
        line-height: 80px;
        float: left;
        cursor: pointer;
        text-align: center;
        @include transition;
        &:hover {
          margin-top: 5px;
        }
        a {
          text-decoration: none;
          color: #fff
        }
      }
    }
  }
}

.content {
  width: 100%;
  min-width: 1080px;
  min-height: 598px;
  background: url('../image/bg_body.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 80px;
  left: 0px;
  padding: 10px 0px;
  .right {
    float: right;
    width: 25%;
    background: #fff;
    .tag_class {
      width: 96%;
      margin: 0 auto;
      margin-top: 10px;
      h3 {
        text-align: center;
      }
      .tags {
        width: 90%;
        margin: 0 auto;
        span {
          @include archiveSpan
        }
      }
    }
    .time_class {
      width: 96%;
      margin: 0 auto;
      margin-top: 40px;
      h3 {
        text-align: center
      }
      .times {
        width: 90%;
        margin: 0 auto;
        span {
          @include archiveSpan;
        }
      }
    }
  }
}

.clear {
  width: 0px;
  height: 0px;
  clear: both;
}
