$strongColor: #000000;
$color: #6d6d6d;
$lightColor: #b0b0b0;
$smallSize: 14px;
$middleSize: 16px;
$largeSize: 18px;
@mixin transition($time: 0.5s, $way: ease-in-out) {
  transition: all $time $way;
  -webkit-transition: all $time $way;
  -o-transition: all $time $way;
  -moz-transition: all $time $way;
  -ms-transition: all $time $way;
}

@mixin archiveSpan {
  float: left;
  display: block;
  margin-bottom: 10px;
  width: 46%;
  height: 25px;
  line-height: 25px;
  color: #fff;
  padding: 0px 3px;
  background: #d9534f;
  border-radius: 2px;
  cursor: pointer;
  &:nth-child(odd) {
    background: #15a287;
    margin-right: 2%;
  }
}

@mixin transform ($angel: 180deg) {
  transform: rotate($angel);
  -webkit-transform: rotate($angel);
  -moz-transform: rotate($angel);
  -o-transform: rotate($angel);
  -ms-transform: rotate($angel);
}

@mixin position {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 10px solid #e7e7e7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}