@import '../common/style/mixin.scss';
.about {
	width: 85%;
	margin: 10px auto;
	background: #fff;
	border-radius: 3px;
	.about_top {
		height: 40px;
		line-height: 40px;
		h2{
			text-align: center;
			color: $color;
		}
	}
	h3 {
		text-align: center;
		color: $strongColor;
		background: #fbfbfb;
		height: 30px;
		line-height: 30px;
		border-left: 4px solid #00a67c;
		margin-left: -4px;
	}
	#description {
		margin: 20px 0px;
		.user {
			width: 30%;
			margin: 0 auto;
			text-align: center;
			color: #555;
			img {
				@include transition($time: .9s);
				border-radius: 50px;
				&:hover {
					border-radius: 0px;
				}
			}
			span {
				display: block;
				margin-top: 5px;
			}
		}
	}
	#skill {
		margin: 10px 0px;
		padding-bottom: 20px;
		.skill_list {
			width: 90%;
			margin: 5px auto;
			text-align: center;
			.specifc {
				width: 20%;
				margin-left: 13%;
				height: 140px;
				line-height: 140px;
				position: relative;
				float: left;
				.track {
					@include position;
				}
				.master {
					clip: rect(0 50px 100px 0);
					@include position;
				}
				.left_circle {
					clip: rect(0 50px 100px 0);
					@include position;
					border-color: #6fec6f;
					@include transform($angel: 144deg);
				}
				.right_circle {
					clip: rect(0 50px 100px 0);
					opacity: 0;
					@include transform;
					@include position;
					border-color: #6fec6f;
				}
				span {
					position: absolute;
					left: 15%;
					top: 26%;
					height: 30px;
					line-height: 30px;
					&:last-child {
						left: 0%;
						top: 72%;
					}
				}
			}
		}
	}
	#contact {
		margin: 20px 0px;
		padding-bottom: 20px;
		.contact_way {
			text-align: left;
			width: 40%;
			margin: 5px auto;
			margin-left: 40%;
			a {
				text-decoration: none;
				color: #555;
			}
		}
	}
}