<div id="wrapper">
  <ul class="container" style="left:0px">
    <li><img src="/common/image/fourth.png" alt="">
      <p>This is picture4</p>
    </li>
    <li><img src="/common/image/sixth.png" alt="">
      <p>This is picture1</p>
    </li>
    <li><img src="/common/image/second.png" alt="">
      <p>This is picture2</p>
    </li>
    <li><img src="/common/image/thrid.png" alt="">
      <p>This is picture3</p>
    </li>
    <li><img src="/common/image/fourth.png" alt="">
      <p>This is picture4</p>
    </li>
    <li><img src="/common/image/sixth.png" alt="">
      <p>This is picture1</p>
    </li>
    <div class="clear"></div>
  </ul>
  <a class="arrow" href='/' id="prev" prev-blog>&lt;</a>
  <a class="arrow" href='/' id="next" next-blog>&gt;</a>
</div>
<div class="main">
  <div ui-view>
    <div class="blog_list">
      <div class="blog_specifc">
        <div class="blog_top">
          <a ui-sref='detail'>{{home.name}}</a>
          <div class="clear"></div>
        </div>
        <div class="blog_content">
          <p>这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的</p>
          <div class="tag">
            <div class="tag_left">
              <span>Tags:</span>
              <span>前端</span>
              <span>Angular</span>
            </div>
            <div class="time">2016-7-12</div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="right">
  <div class="tag_class">
    <h3>文章标签</h3>
    <div class="tags">
      <span>Node(22)</span>
      <span>Javascript(55)</span>
      <span>Angular(4)</span>
      <span>Vue(3)</span>
      <span>Webpack(1)</span>
    </div>
  </div>
</div>
<div class="clear"></div>
