<div class="blog_list">
  <div class="blog_specifc">
    <div class="blog_top">
      <a ui-sref='detail'>{{home.name}} ></a>
      <div class="clear"></div>
    </div>
    <div class="blog_content">
      <p>这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的</p>
      <div class="tag">
        <div class="tag_left">
          <span>Tags:</span>
          <span>前端</span>
          <span>Angular</span>
        </div>
        <div class="time">2016-7-12</div>
        <div class="clear"></div>
      </div>
    </div>
  </div><div class="blog_specifc">
    <div class="blog_top">
      <a ui-sref='detail'>{{home.name}} ></a>
      <div class="clear"></div>
    </div>
    <div class="blog_content">
      <p>这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的</p>
      <div class="tag">
        <div class="tag_left">
          <span>Tags:</span>
          <span>前端</span>
          <span>Angular</span>
        </div>
        <div class="time">2016-7-12</div>
        <div class="clear"></div>
      </div>
    </div>
  </div><div class="blog_specifc">
    <div class="blog_top">
      <a ui-sref='detail'>{{home.name}} ></a>
      <div class="clear"></div>
    </div>
    <div class="blog_content">
      <p>这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的</p>
      <div class="tag">
        <div class="tag_left">
          <span>Tags:</span>
          <span>前端</span>
          <span>Angular</span>
        </div>
        <div class="time">2016-7-12</div>
        <div class="clear"></div>
      </div>
    </div>
  </div><div class="blog_specifc">
    <div class="blog_top">
	    <a ui-sref='detail'>{{home.name}} ></a>
      <div class="clear"></div>
    </div>
    <div class="blog_content">
      <p>这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的,这是用来测试的</p>
      <div class="tag">
        <div class="tag_left">
        	<span>Tags:</span>
          <span>前端</span>
          <span>Angular</span>
        </div>
        <div class="time">2016-7-12</div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
